__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.venv/
build/
dist/
*.egg-info/
checkpoints/
runs/
temp*.*

data/**dataset**/
data/sample-midv/
# data/raw/
# data/processed/

output/logs/
output/model/
output/embeddings/
output/hpo/

archive/

*.zip